version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 0
    
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
