{# Default page template used for blog contents #}

{% extends "page.html" %}

{% block seo %}
  {# This value is matched by the config.extra.menu.main->section #}
  {% set_global current_section = 'casts' %}
  {{ super() }}
{% endblock seo %}

{% block body %}
  {% set page_class = "casts single" %}
{% endblock body %}

{% block header %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="cast-youtube">
        {{ youtube::youtube(id=page.extra.id) }}

        <h1>{{ page.title }}</h1>
        <code class="ep">Episode #{{page.extra.num}}</code>
        {{ macros_publish::page_publish_metadata(page=page) }}

        <article>
          {{ page.content | safe }}
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
