{% macro footer() %}
<div class="section bg-redrust pt-8">
  <div class="container flex flex-col items-center text-center text-background py-8 pb-12">
      <div class="mb-8">
      <img src="/icon.svg" width="130px" />
      </div>
      <div class="footer-links">
          <a href="https://github.com/loco-rs/loco">
              Github
          </a>
          <a href="https://github.com/loco-rs/loco/blob/master/CODE_OF_CONDUCT.md">
              Code of Conduct
          </a>
          <a href="https://github.com/loco-rs/loco/blob/master/LICENSE">
              License
          </a>
          <a href="https://github.com/loco-rs/loco/blob/master/SECURITY.md">
              Security
          </a>
      </div>
  </div>
</div>
{% endmacro %}
