{% macro youtube(id, autoplay=false, class=false) %}
  <div class="video-container">
    <iframe
        src="https://www.youtube.com/embed/{{id}}{% if autoplay %}?autoplay=1{% endif %}"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen>
    </iframe>
  </div>
{% endmacro %}

{% macro thumb(id, class=false) %}
<img class="max-w-[200px] max-h-[230px] rounded-md" {% if class %}class="{{class}}"{% endif %} src="https://i3.ytimg.com/vi/{{id}}/hqdefault.jpg" />
{% endmacro %}
