{% macro youtube(id, autoplay=false, class=false) %}
<div {% if class %}class="{{class}}"{% endif %}>
  <div class="video-container">
    <iframe
        src="https://www.youtube.com/embed/{{id}}{% if autoplay %}?autoplay=1{% endif %}"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen>
    </iframe>
  </div>
</div>
{% endmacro %}

{% macro thumb(id, class=false) %}
<img width="100%" {% if class %}class="{{class}}"{% endif %} src="https://i3.ytimg.com/vi/{{id}}/hqdefault.jpg" />
{% endmacro %}
