.infobox{ 
  margin: 1em 0;
  padding: 1.4em;
  border-radius: 4px;
  border: 1px solid;
  border-color: rgb(195, 228, 205);
  background-color: rgb(240,253,244);
  color:rgb(22,101,52 );
}
.infobox a { 
  color:rgb(4, 52, 22);
  text-decoration: underline;
}
