.infobox{ 
  margin: 1em 0;
  padding: 1.4em;
  border-radius: 4px;
  border: 1px solid;
  border-color: rgb(195, 228, 205);
  background-color: rgb(240,253,244);
  color:rgb(22,101,52 );
}
.infobox a { 
  color:rgb(4, 52, 22);
  text-decoration: underline;
}

label { 
  color: $gray-600;
  border-radius: 0.2em;
  padding: 0.1em 0.5em;
  font-size: 0.9em;
  margin: 0 0.1em;
  border: 1px solid;
  border-color: $gray-600;
}

label.sidebar {
  background-color: $gray-300;
  color: $gray-700;
  border: none;
}

body.dark label.sidebar {
  background-color: $gray-800;
  color: $gray-600;
  border: none;
}

.flairbar {
  margin-bottom: 1em;
}
