{# Default page template used for blog contents #}

{% extends "page.html" %}

{% block body %}
{% set page_class = "casts single" %}
{% endblock body %}

{% block header %}
{{ macros_header::header(current_section='casts')}}
{% endblock header %}

{% block content %}
<div class="container" role="document">
  <article class="max-w-[1024px] mx-auto my-[2rem] md:my-[8rem]">
    {{ youtube::youtube(id=page.extra.id) }}
    {% if page.extra.lead %}<p class="lead">{{ page.extra.lead | safe }}</p>{% endif %}
    <div class="prose markdown mt-8 mx-auto">
      {{ macros_publish::page_publish_metadata(page=page) }}
      <h1 class="mb-3">{{ page.title }}</h1>
      {{ page.content | safe }}
    </div>

  </article>
</div>


{% endblock content %}
