{# Default page template used for blog contents #}

{% extends "page.html" %}

{% block body %}
{% set page_class = "blog single" %}
{% endblock body %}

{% block header %}
{{ macros_header::header(current_section='blog')}}
{% endblock header %}

{% block content %}
<div class="container" role="document">
  <article class="prose mx-auto my-[2rem] md:my-[8rem]">
    {{ macros_publish::page_publish_metadata(page=page) }}
    <h1 class="mb-1 font-extrabold">{{ page.title }}</h1>
    <div class="text-gray-500 font-semibold">
      {% if page.taxonomies.authors and
      config.taxonomies %} {% for author in page.taxonomies.authors %}{% if author_flag %} and {% endif %}{{ author }}{% set_global author_flag
      = true %}{% endfor %}{% endif %}
    </div>
    {% if page.extra.lead %}<p class="lead">{{ page.extra.lead | safe }}</p>{% endif %}
    <div class="markdown mt-8">
      {{ page.content | safe }}
    </div>

  </article>
</div>
{% endblock content %}
