@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/typography";

@layer base {
    :root {
        --background: #ffffff;
        --background-secondary: #5F456B;

        --primary: #000000;
        --primary-foreground: green;

        --border: #3A3A54;

        --card: #1D1D2A;
        --card-foreground: #FDCEF1;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-primary;
        font-feature-settings: "rlig" 1, "calt" 1;
    }

    a.active {
        @apply text-primary-foreground;
    }

}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}
.prose {
    ul {
        padding-inline-start: 1em;
    }
}

/* ol {
    list-style: auto
}

h2 {
    font-size: 2rem;
} */
