@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/typography";

@layer base {
    :root {
        --background: #ffffff;
        --background-secondary: #5F456B;

        /* 1f2937 gray-800*/
        --foreground: #1f2937; /* gray-900 */
        --primary: #D45546;
        --redrust:  #c12110;
        --orangerust:  #cc4111;

        --border: #3A3A54;

        --card: #1D1D2A;
        --card-foreground: #FDCEF1;

        --radius: 0.5rem;
    }
    
    .dark {
        --background: black;
        --foreground: hsl(213, 31%, 91%);

        --muted: hsl(223, 47%, 11%);
        --muted-foreground: hsl(215.4, 16.3%, 56.9%);

        --accent: hsl(216, 34%, 17%);
        --accent-foreground: hsl(210, 40%, 98%);

        --popover: hsl(224, 71%, 4%);
        --popover-foreground: hsl(215, 20.2%, 65.1%);

        --border: hsl(216, 34%, 17%);
        --input: hsl(216, 34%, 17%);

        --card: hsl(224, 71%, 4%);
        --card-foreground: hsl(213, 31%, 91%);

        --primary: hsl(210, 40%, 98%);
        --primary-foreground: hsl(222.2, 47.4%, 1.2%);

        --secondary: hsl(222.2, 47.4%, 11.2%);
        --secondary-foreground: hsl(210, 40%, 98%);

        --destructive: hsl(0, 63%, 31%);
        --destructive-foreground: hsl(210, 40%, 98%);

        --ring: hsl(216, 34%, 17%);

        --radius: 0.5rem;
    }
}
   
@layer base { 
    * {
        @apply border-border; 
    }

    body {
        @apply bg-background text-foreground font-text;
        font-feature-settings: "rlig" 1, "calt" 1; 
    }

    h1, h2, h3, h4, h5 {
        letter-spacing: -0.03em;
        scroll-margin-top: 56px;
    }
    a.active {
        @apply text-primary;
    }
}
 

.section-colored {
    h1, h2 {
        @apply text-background;
    }
}
.dark {
    .section-colored {
    
            h1,
            h2 {
                @apply text-white;
            }
        }
}

.section {
    @apply px-2 sm:px-0;
    h1 {
        @apply font-semibold;
        @apply sm:text-6xl;
        @apply mb-8;
        letter-spacing: -0.05em;
    }
    h2 {
        @apply text-xl sm:text-3xl font-light;
        @apply mt-0;
    }
    pre {
        @apply my-0;
    }
}
.footer-links {
    a {
        @apply no-underline text-white mx-2;
    }
}
.fatbtn {
    @apply no-underline text-lg font-semibold text-foreground bg-background rounded-sm px-8 py-3; 
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    @apply px-2 md:px-0
}
.prose {
    ul {
        padding-inline-start: 1em;
    }
}



.navbar-form {
    position: relative;
  }
  
#suggestions {
    position: absolute;
    right: 0;
    margin-top: 0.5rem;
    width: calc(100vw - 8rem);
    max-height: 500px;
    overflow: auto;
    @apply bg-background;
}

#suggestions a {
    display: block;
    text-decoration: none;
    padding: 0.75rem;
    margin: 0 0.5rem;
}

#suggestions a:focus {
    @apply bg-gray-100 dark:bg-zinc-700;
    outline: 0;
}

#suggestions div:not(:first-child) {
    @apply border-gray-200;
}

#suggestions div:first-child {
    margin-top: 0.5rem;
}

#suggestions div:last-child {
    margin-bottom: 0.5rem;
}

#suggestions a:hover {
    @apply bg-gray-100 dark:bg-zinc-800;
}

#suggestions span {
    @apply text-sm;
}

#suggestions span:first-child {
    @apply text-foreground;
    @apply font-semibold;
}

#suggestions span:nth-child(2) {
    @apply text-gray-700 dark:text-gray-400;
}

@media screen(sm) {
    #suggestions {
        width: 30rem;
    }

    #suggestions a {
        display: flex;
    }

    #suggestions span:first-child {
        width: 9rem;
        padding-right: 1rem;
        @apply border-gray-200;
        display: inline-block;
        text-align: right;
    }

    #suggestions span:nth-child(2) {
        width: 19rem;
        padding-left: 1rem;
    }
}

html .toggle-dark {
    display: block;
}

html .toggle-light {
    display: none;
}

html.dark .toggle-light {
    display: block;
}

html.dark .toggle-dark {
    display: none;
}
